*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# TM_NOTE: This is a 3rd party SDK required to run Teachmore SDK v0.0.1
# It won't be required here in the v1.0.0
teachmoreandroidsdk-release/build